<div class="tab">
    <h3 class="tab-title">Checkers</h3>
    <div class="tab-content">
        <h4>Header Checker Managers</h4>
        {% if collector.getData().checker.header_checker_managers is empty %}
            No header checker manager.
        {% else %}
            <table>
                <thead>
                <tr>
                    <th>Service ID</th>
                    <th>Checked Header Parameters</th>
                </tr>
                </thead>
                <tbody>
                {% for id, data in collector.getData().checker.header_checker_managers %}
                    <tr>
                        <td>{{ id }}</td>
                        <td>
                            <ul>
                                {% for checker in data %}
                                    <li>{{ checker.header }}{% if checker.protected %} (protected header){% endif %}</li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
        <h4>Available Header Checkers</h4>
        {% if collector.getData().checker.header_checkers is empty %}
            No header checker.
        {% else %}
            <table>
                <thead>
                <tr>
                    <th>Alias</th>
                    <th>Checked header</th>
                    <th>Is protected?</th>
                </tr>
                </thead>
                <tbody>
                {% for alias, data in collector.getData().checker.header_checkers %}
                    <tr>
                        <td>{{ alias }}</td>
                        <td>{{ data.header }}</td>
                        <td>{% if data.protected %}Yes{% else %}No{% endif %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
        <i>Please note that the header "crit" (critical) is always checked.</i>
        <h4>Claim Checker Managers</h4>
        {% if collector.getData().checker.claim_checker_managers is empty %}
            No claim checker manager.
        {% else %}
            <table>
                <thead>
                <tr>
                    <th>Service ID</th>
                    <th>Checked Claims</th>
                </tr>
                </thead>
                <tbody>
                {% for id, data in collector.getData().checker.claim_checker_managers %}
                    <tr>
                        <td>{{ id }}</td>
                        <td>
                            <ul>
                                {% for checker in data %}
                                    <li>{{ checker.claim }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
        <h4>Available Claim Checkers</h4>
        {% if collector.getData().checker.claim_checkers is empty %}
            No header checker.
        {% else %}
            <table>
                <thead>
                <tr>
                    <th>Alias</th>
                    <th>Checked claim</th>
                </tr>
                </thead>
                <tbody>
                {% for alias, data in collector.getData().checker.claim_checkers %}
                    <tr>
                        <td>{{ alias }}</td>
                        <td>{{ data.claim }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
</div>
